@charset 'utf-8';
@import 'bourbon/bourbon';

$white: #fff;
$black: #000;
$accent: tint(#00B2AD, 10%);
$title-spacing: rem(5);
 
@mixin opensans400{
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 400;
	letter-spacing: rem(2);
}

h1,
h2,
h3,
h4 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

p,
a,
span,
ul,
ol,
li,
h5,
h6 {
	font-family: 'Gentium Basic', Garamond, serif;
}

pre *,
code * {
	font-family: monospace;
}
a {
	@include transition(0.4s all ease-in-out);
	color: $accent;


	&:hover,
	&:active,
	&:visited {
		color: shade($accent, 20%);
	}
}

@include selection {
  // background-color: shade($accent, 5%);
  background-color: $accent;
  color: $white;
}

.site-header {
	// border-top-color: $accent;
}

.wrapper {
	max-width: none;
}

nav a {
	@include opensans400;
	font-size: rem(16);
}

footer {
	.footer-heading {
		letter-spacing: $title-spacing;
	}

	.social-media-list {
		li a {
			padding: rem(20) 0;
			display: block;

			&:first-child {
				padding-top: 0;
			}
		}
	}

	.final-say {
		font-size: rem(14);
		line-height: 1;
	}
}

@import 'partial/homepage';
@import 'partial/postlist';
@import 'partial/banner';
@import 'partial/post';
