---
layout: default
---

<div class="home">

<div class="heading-img"><img src="{{ "/img/flight-ticket.svg" }}" alt="icon"></div>
  <h1 class="page-heading">Travelogue</h1>

  <ul class="post-list post-grid">
    {% for post in site.posts %}
      <li class="post-grid-sizer"></li>
        {% if post.thumbnail %}
      <li class="post-item" style="background-image: url({{post.thumbnail}});">
      {% else %}
      <li class="post-item no-bg">
        <!-- <div class="img"><img src="{{post.thumbnail}}" alt="{{ post.title }}"></dKiv> -->
        {% endif %}
        <div class="post-fill"></div>
        <a class="post-link post-wrap" href="{{ post.url | prepend: site.baseurl }}">
          <!-- <div class="post-wrap"> -->
            <div class="text-wrap">
              <h3>
                {{ post.title }}
              </h3>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            </div>
          <!-- </div> -->
        </a>
      </li>
    {% endfor %}
  </ul>

  <noscript>
    <style type="text/css">
        .post-grid-sizer, .post-item {
          /*width: 100%;*/
          display: inline-block;
          float: left;
        }
        .post-item .post-fill {
          display: none;
        }
    </style>
</noscript>

</div>
