---
layout: trips
title: Tokyo '16
type: page
trip: 
 category: japan
 banner_title: >
   #udomraemen
 banner_subtitle: >
  Tokyo!&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;2016
 banner_image: "http://im.vsco.co/1/51f48bb095e8247120/56c9e77a40955b61337b8a75/vsco_022216.jpg"
---

<div class="home">

  <header>
    <div class="heading-img">
      <img src="/img/icons/flight-ticket.svg" alt="icon">
    </div>
    <h1 class="page-heading">Travelogue</h1>
  </header>

  <section id="trip-grid">
    <ul class="post-list post-grid">
  	<li class="post-grid-sizer"></li>
  		{% for post in site.posts %}
  	  	{% if post.categories contains page.trip.category %}
          {% if post.thumbnail %}
  			<li class="post-item" style="background-image: url({{post.thumbnail}});"
  			data-title="{{ post.title }}">
  		{% else %}
  			<li class="post-item no-bg" data-title="{{ post.title }}">
  			<!-- <div class="img"><img src="{{post.thumbnail}}" alt="{{ post.title }}"></dKiv> -->
          {% endif %}
          <div class="post-fill"></div>
          <a class="post-link post-wrap" href="{{ post.url | prepend: site.baseurl }}">
            <!-- <div class="post-wrap"> -->
              <div class="text-wrap">
                <h4>
                  {{ post.title }}
                </h4>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              </div>
            <!-- </div> -->
          </a>
        </li>
  	  {% endif %}
      {% endfor %}
    </ul>
  </section>
</div>

