---
layout: default
type: page
---

{% include banner.html 
  banner_id = 'indonesia'
  banner_type = 'index'
  banner_title = site.banner_title 
  banner_subtitle = site.banner_subtitle
  banner_image = site.banner_image %}

<section class="page-content">
  <div class="wrapper">
    <div class="home">
    <header>
      <div class="heading-img">
        <img src="/img/icons/flight-ticket.svg" alt="icon">
      </div>
      <h1 class="page-heading">Travelogue</h1>
    </header>

    <section id="trip-grid-indo">
      <ul class="post-list post-grid">
        <li class="post-grid-sizer"></li>
        {% for post in site.posts %}
          {% if post.categories contains site.current_category %}
            {% if post.thumbnail %}
              <li class="post-item" style="background-image: url({{post.thumbnail}});">
            {% else %}
              <li class="post-item no-bg">
            {% endif %}
              <div class="post-fill"></div>
              <a class="post-link post-wrap" href="{{ post.url | prepend: site.baseurl }}">
                <div class="text-wrap">
                  <h4>
                    {{ post.title }}
                  </h4>
                  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                </div>
              </a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
      </section>
    </div>
  </div>
</section>

{% include banner.html 
  banner_id = 'japan'
  banner_type = 'index'
  banner_title = '#udomraemen'
  banner_subtitle = 'Tokyo!&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;2016'
  banner_image = 'http://im.vsco.co/1/51f48bb095e8247120/56c9e77a40955b61337b8a75/vsco_022216.jpg' %}

<section class="page-content">
  <div class="wrapper">
    <div class="home">
    <header>
      <div class="heading-img">
        <img src="/img/icons/flight-ticket.svg" alt="icon">
      </div>
      <h1 class="page-heading">Travelogue</h1>
    </header>

    <section id="trip-grid-japan">
      <ul class="post-list post-grid">
        <li class="post-grid-sizer"></li>
        {% for post in site.posts %}
          {% if post.categories contains 'japan' %}
            {% if post.thumbnail %}
              <li class="post-item" style="background-image: url({{post.thumbnail}});">
            {% else %}
              <li class="post-item no-bg">
            {% endif %}
              <div class="post-fill"></div>
              <a class="post-link post-wrap" href="{{ post.url | prepend: site.baseurl }}">
                <div class="text-wrap">
                  <h4>
                    {{ post.title }}
                  </h4>
                  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                </div>
              </a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
      </section>

      <noscript>
        <style type="text/css">
          .post-grid-sizer, .post-item {
            /*width: 100%;*/
            display: inline-block;
            float: left;
          }
          .post-item .post-fill {
            display: none;
          }
        </style>
      </noscript>

    </div>
  </div>
</section>



