.home .page-heading {
	text-align: center;
	text-transform: uppercase;
}

.post-list {
	margin-left: rem(-30);
	margin-right: rem(-30);
	margin-bottom: rem(-30);
	@media (max-width: 800px){
		margin-left: rem(-30/2);
		margin-right: rem(-30/2);
	}
}

.post-list > li {
	margin-bottom: 0;
}

.post-grid-sizer,
.post-item {
	width: 100%;

	@media (min-width: 640px){
		width: 50%;
	}
	
	@media (min-width: 1024px){
		width: percentage(1 / 3);
	}
}

.post-item {
	// @include transition(0.5s background-size ease-in-out);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: rem(300);
	overflow: hidden;

	.post-fill {
		@include transition(0.4s opacity ease-in-out);
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		background-color: $black;
		opacity: 0;
		z-index: 1;
	}

	@media (min-width: 640px){
		height: rem(250);
	}

	@media (min-width: 1200px){
		height: rem(300);
	}

	@media (min-width: 1440px){
		height: rem(1440 / 4);
	}

	@media (min-width: 1600px){
		height: rem(1600 / 4);
	}

	@media (min-width: 1920px){
		height: rem(1920 / 4);
	}

	&.no-bg {
		background-color: shade($white, 10%);
	}

	.post-link {
		position: relative;
		z-index: 2;
		@include background(linear-gradient(transparent 10%, rgba($black, 0.6) 50%));

		@media (min-width: 640px){
			@include background(linear-gradient(transparent 20%, rgba($black, 0.4) 60%));
		}

		&.post-wrap {
			display: table;
			width: 100%;
			height: 100%;
		}

		.text-wrap {
			display: table-cell;
			vertical-align: bottom;
			text-align: center;
			// (11 Mar 2016)
			// @include transition(0.3s all ease-in-out);
			@include transform(translateY(-33%));
			// @include transform(translateY(-90px));

			@media (min-width: 480px){
				@include transform(translateY(-30%));
				// @include transform(translateY(-120px));
			}

			@media (min-width: 1366px){
				@include transform(translateY(-35%));
				// @include transform(translateY(-120px));
			}

			@media (min-width: 1600px){
				@include transform(translateY(-40%));
			}


		}

		h4,
		.post-meta {
			display: block;
			color: $white;
			// letter-spacing: rem(5);
			// font-size: 80%;
			text-transform: uppercase;
		}

		h4 {
			margin-bottom: 0;
			letter-spacing: $title-spacing;
		}

		.post-meta {
			// font-style: italic;
		}

	}

	&:hover,
	&:active {
		// background-size: 160% 160%;

		a {
			text-decoration: none;
		}

		.post-fill {
			// (11 Mar 2016)
			// opacity: 0.65;
			opacity: 0.45;
			// @include transform(scale(1));
			// @include transition(0.4s transform ease-in-out, 0.4s opacity ease-in-out);
		}

		.post-link.post-wrap {
			overflow: hidden;
		}

		.post-link .text-wrap {
			// (11 Mar 2016)
			// @include transform(translateY(-20px));
			// h4 {color: $accent;}
		}
	}
}