{% if page.url == "/" or page.url == "/index.html" %}
	{% assign banner_title 		= site.banner_title %}
	{% assign banner_subtitle	= site.banner_subtitle %}
{% elsif page.title and page.type == "page" and page.trip.banner_title %}
	{% assign banner_title		= page.trip.banner_title %}
	{% assign banner_subtitle	= page.trip.banner_subtitle %}
{% elsif page.title and page.type == "page" and page.layout == "mdpage" %}
	{% assign banner_title		= page.title %}
	{% assign banner_subtitle	= "" %}
{% elsif page.title and page.type != "page" and page.layout == "post" %}
	{% assign banner_title		= page.title %}
	{% assign banner_subtitle	= "" %}
{% endif %}

{% if page.url == "/" or page.url == "/index.html" %}
<div class="banner-wrap index">
	<div class="banner bg">
{% else %}
<div class="banner-wrap inner">
	<div class="banner bg">
{% endif %}
		<span class="text">
			<h3>{{ banner_title }}</h3>
			<h5>{{ banner_subtitle }}</h5>
		</span>
	</div>
</div>

<style type="text/css">
{% if page.url == "/" or page.url == "/index.html" %}
    {% if site.banner_image %}
		.banner-wrap .banner {
			background-image: -moz-linear-gradient(rgba(0,0,0, 0.5) 0%, transparent 20%, transparent 40%, rgba(0,0,0, 0.7) 90%), url("{{ site.banner_image}}");
			background-image: -webkit-linear-gradient(rgba(0,0,0, 0.5) 0%, transparent 20%, transparent 40%, rgba(0,0,0, 0.7) 90%), url("{{ site.banner_image}}");
			background-image: linear-gradient(rgba(0,0,0, 0.5) 0%, transparent 20%, transparent 40%, rgba(0,0,0, 0.7) 90%), url("{{ site.banner_image}}");
		}
	{% endif %}
{% else %}
    {% if page.cover_image %}
		.banner-wrap .banner {
			background-image: -moz-linear-gradient(rgba(0,0,0, 0.5) 0%, transparent 20%, rgba(0,0,0, 0.7) 60%), url("{{ page.cover_image }}");
			background-image: -webkit-linear-gradient(rgba(0,0,0, 0.5) 0%, transparent 20%, rgba(0,0,0, 0.7) 60%), url("{{ page.cover_image }}");
			background-image: linear-gradient(rgba(0,0,0, 0.5) 0%, transparent 20%, rgba(0,0,0, 0.7) 60%), url("{{ page.cover_image }}");
		}
	{% endif %}
{% endif %}
</style>
