<section class="banner-wrap {{ include.banner_type }}" data-component="['banner-hashtag']">
	<div class="banner bg"
		style="background-image: -moz-linear-gradient(rgba(0,0,0, 0.5) 0%, transparent 20%, transparent 40%, rgba(0,0,0, 0.7) 90%), url('{{ include.banner_image}}');
			background-image: -webkit-linear-gradient(rgba(0,0,0, 0.5) 0%, transparent 20%, transparent 40%, rgba(0,0,0, 0.7) 90%), url('{{ include.banner_image}}');
			background-image: linear-gradient(rgba(0,0,0, 0.5) 0%, transparent 20%, transparent 40%, rgba(0,0,0, 0.7) 90%), url('{{ include.banner_image}}');">
		<header class="text">
			<h3>{{ include.banner_title }}</h3>
			<h5>{{ include.banner_subtitle }}</h5>
		</header>
	</div>
</section>
