<!-- footer scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.0/imagesloaded.pkgd.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.0.0/masonry.pkgd.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.2/featherlight.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.2/featherlight.gallery.min.js" defer></script>
{% comment %}
<!-- <script src="{{ "/js/jquery.unveil.js" | prepend: site.baseurl }}" defer></script> -->
{% endcomment %}
<script src="{{ "/dist/js/all.js" | prepend: site.baseurl }}" defer></script>
{% comment %}
<!-- {% if page.is_post? %} -->
<!-- {% endif %} -->
{% endcomment %}