$banner-background-image: "http://im.vsco.co/1/51f48bb095e8247120/56c9e77a40955b61337b8a75/vsco_022216.jpg";

.banner-wrap {
	// width: 100%;
	height: 100%;
	padding: rem(20) rem(15);
	margin-bottom: rem(70);
	background-color: tint($black, 95%);

	@media (min-width: 1024px){
		padding: rem(30) rem(22);
		margin-bottom: rem(100);
	}
}

.banner-wrap .banner {
	@include background-image(url($banner-background-image)); 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	min-height: rem(300);


	@media (min-width: 640px){
		min-height: rem(400);
	}
	@media (min-width: 1024px){
		min-height: rem(600);
	}
	@media (min-width: 1200px){
		min-height: rem(700);
	}

	.text {
		color: $white;
		min-width: 250px;
		width: 40%;
		text-align: center;

		h1 {
			margin-bottom: rem(10);
		}
	}
}
