$flourish-plane-up: "../img/plane-up.svg";
$flourish-japan-map: "../img/map-japan.svg";
$flourish-unagi-nigiri: "../img/unagi-nigiri.svg";
$flourish-udon: "../img/udon.svg";
$flourish-nigiri: "../img/nigiri.svg";
$flourish-ikura-gunkan-maki: "../img/ikura-gunkan-maki.svg";
$flourish-okonomiyaki: "../img/okonomiyaki.svg";
$flourish-beach: "../img/beach.svg";
$flourish-summer: "../img/summer.svg";
$flourish-sea: "../img/sea.svg";

article {
	max-width: 900px;
	margin: 0 auto;
	// (11 Mar 2016)
	margin-top: 90px;
	
	.post-header, {
		margin-top: rem(30);
		text-align: center;

		.post-title {
			letter-spacing: $title-spacing;
			margin-bottom: rem(10);
		}

		.post-meta {
			margin-bottom: rem(15);
		}
	}

	.post-flourish {
		background-blend-mode: overlay;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: rem(30);
		height: rem(30);
		display: block;
		margin: 0 auto;
		opacity: 0.7;
		margin-bottom: rem(60);

		&.top {
			margin-top: rem(30);
			width: rem(45);
			height: rem(45);
		}

		&.bottom {
			@include transform(rotate(45deg));
		}

		&.plane-up {@include background-image(url($flourish-plane-up));}
		&.japan {
			@include background-image(url($flourish-japan-map));
		}
		&.unagi-nigiri {@include background-image(url($flourish-unagi-nigiri));}
		&.udon {@include background-image(url($flourish-udon));}
		&.nigiri {@include background-image(url($flourish-nigiri));}
		&.ikura-gunkan-maki {@include background-image(url($flourish-ikura-gunkan-maki));}
		&.okonomiyaki {@include background-image(url($flourish-okonomiyaki));}

		&.beach {@include background-image(url($flourish-beach));}
		&.sea {@include background-image(url($flourish-sea));}
		&.summer {@include background-image(url($flourish-summer));}

	}

	h1 {
		margin-bottom: rem(24);
	}

	p,
	figure {
		margin-bottom: rem(30);
	}

	li {
		margin-bottom: rem(5);
	}

	p img {
		width: 100%;
		opacity: 0;
		@include transform(scale(0));
		@include transition(0.2s all linear);

		@media (min-width: 768px){
		@include transition(0.5s all linear);
		}

		&.ready {
		opacity: 1;
		@include transform(scale(1));				
		}

		&[data-featherlight]{
			cursor: pointer;
		}

		&:hover[data-featherlight]{
			@media (min-width: 1024px){
			opacity: 0.8;
			}
		}
	}

	.caption {
			// display: none;
			font-size: rem(13);
			font-style: italic;
			text-align: left;

			@media (min-width: 1024px){
			font-size: rem(14);
				display: block;
				margin-top: rem(5);
			}
		}

	.vert-img {
		text-align: center;

		.caption,
		&.txt {
			text-align: left;
			// padding-right: rem(10);
		}

		.caption {
			display: table;
			margin: 0 auto;
			margin-top: rem(5);
		}

		img {

			@media (min-width: 640px){
				width: auto;
				max-height: 500px;
			}

			@media (min-width: 1024px){
				max-height: 600px;
			}
		}

		&.col-2-img {
			@media (min-width: 640px){
				width: 50%;
				display: inline-block;
				float: left;

				&:first-child {
					padding-right: rem(15/2);
				}

				&:last-child {
					padding-left: rem(15/2);
				}

				img {
					max-height: none;
					width: 100%;

				}
			}
		}
	}

	.empty-fill {
		clear: both;
	}
}

.pagination {
	.prev,
	.next {
		@include opensans400;
		display: inline-block;
		font-size: rem(15);
		text-transform: uppercase;
	}

	.prev {float: left;}

	.next {float: right;}
}

#backtotop {
	@include transition (opacity 0.4s ease-in-out);
	color: $white;
	position: fixed;
	background: rgba($black, 0.8);
	border: solid 1px $black;
	border-radius: 50%;
	width: rem(70);
	height: rem(70);
	z-index: 9999;
	opacity: 0;
	bottom: rem(20);
	right: rem(20);

	@media (min-width: 767px){
	bottom: rem(40);
	right: rem(40);
	}

	&:hover {
		cursor: pointer;
	}

	&.show { opacity: 1;}

	.wrap {
		display: table;
		height: 100%;
		width: 100%;
	}

	span {
		@include opensans400;
		font-size: rem(14);
		text-transform: uppercase;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

// featherlight fixes
.featherlight .featherlight-content {
	box-sizing: content-box;
}
