@import 'bourbon/bourbon';

$white: #fff;
$black: #000;

h1,
h2,
h3,
h4 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

p,
a,
span,
ul,
ol,
li,
h5,
h6 {
	font-family: 'Gentium Basic', Garamond, serif;
}

pre *,
code * {
	font-family: monospace;
}

.wrapper {
	max-width: none;
}

footer {
	.social-media-list {
		li a {
			padding: rem(20) 0;
			display: block;

			&:first-child {
				padding-top: 0;
			}
		}
	}
}
@import 'partial/homepage';
@import 'partial/postlist';
@import 'partial/banner';
@import 'partial/post';